<div class="card">
    <div class="card-body">
        <form [formGroup]="formGroup" class="row">
            <div class="row">
                <div class="col-md-6 mb-2" *ngFor="let c of formData">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" type="text" [formControlName]="c.key"
                                [placeholder]="c.placeholder"
                                [ngClass]="{ 'is-invalid': formGroup['controls'][c.key]?.errors}">
                            <!-- <div class="invalid-feedback" *ngIf="formGroup['controls'].role.errors?.['required']">
                                role is required</div> -->
                            <small class="text-secondary" *ngIf="c.ex">Ex: {{c.ex}}</small>
                            <div class="invalid-feedback" *ngIf="formGroup['controls'][c.key]?.errors?.pattern">
                                {{ c.error||'Enter valid value'}}</div>
                        </div>
                        <!-- {{formGroup['controls'].role.errors | json}} -->
                        <div class="col">
                            <button type="button" class="btn btn-primary"
                                [disabled]="!formGroup['controls'][c.key].value || formGroup['controls'][c.key]?.errors?.pattern"
                                (click)="pushValue(c.key,formGroup['controls'][c.key].value)">+</button>
                        </div>
                        <div class="row" *ngIf="formValue[c.key]?.length">
                            <div class="col-md-6">
                                <div class="chip  m-1" *ngFor="let element of formValue[c.key];let index = index">
                                    <!-- <div class="chip-head">C</div> -->
                                    <div class="chip-content">{{element.name}}</div>
                                    <div class="chip-close" (click)="removeArrayValue(index,c.key)">
                                        <svg class="chip-svg" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                            <path
                                                d="M12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm5 13.59L15.59 17 12 13.41 8.41 17 7 15.59 10.59 12 7 8.41 8.41 7 12 10.59 15.59 7 17 8.41 13.41 12 17 15.59z">
                                            </path>
                                        </svg>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
    <div class="card-footer">
        <div class="float-end">
            <button type="button" class="btn btn-secondary" (click)="cancle()">Cancle & Back</button>
            <button type="button" class="btn btn-primary" (click)="submit()">Submit</button>

        </div>
    </div>
</div>