<div class="m-3 table-responsive">
    <div class="float-end">
        <a (click)="openModal(template,true);">
            <button class="btn btn-primary"> Add User</button>
        </a>
    </div>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Shift</th>
                <th scope="col">Working Time</th>
                <th scope="col">Working Days</th>
                <th scope="col">Attendence</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of staff;let index= index">
                <td>{{index+1}} </td>
                <td>{{emp.userName}} </td>
                <td>{{emp.email}} </td>
                <td>{{emp?.role | uppercase}}</td>
                <td>{{emp?.shift | uppercase}}</td>
                <td>{{emp?.workingTime | uppercase}}</td>
                <td> {{emp?.workingDays | uppercase}}</td>
                <td><button class="btn btn-secondary" [routerLink]="['/attendance']" [queryParams]="{id:emp.id}">View</button></td>
                <td><button class="btn btn-secondary"(click)="openModal(template,false,emp)">Edit</button></td>
            </tr>
            <tr *ngIf="staff.length===0" >
                <td colspan="12" class="text-center"> No record found</td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Staff</h4>
        <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-add-update-staff [isAdd]="isAdd" [empDetail]="empDetails" (complete)="closeModal($event)"></app-add-update-staff>
    </div>
</ng-template>